body{
    background-color: black;
    /* background-image: url(/background_image.jpg); */
    background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scroll */
    background-position: center; /* Centers the image */
    font-family: 'poppins';
}

h1{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-style: oblique;
}

.images{
    display: grid;
    grid-template-columns: repeat(3, fr);
    justify-items: center;
    /* justify-content: space-evenly;
    align-content: center;
    align-items: center; */
}

img{
    width: 300px;
    height: 300px;
    margin: 50px 0px 50px 0px;
    border-radius: 50%;
}

.one{
    grid-column: 1;
    grid-row: 1;
    /* margin: 100px 0px 100px 0px; */
}

.two{
    grid-column: 2;
    grid-row: 1;
    /* margin: 100px 0px 100px 0px; */
}

.three{
    grid-column: 3;
    grid-row: 1;
    /* margin: 100px 0px 100px 0px; */
}

.four{
    grid-column: 1;
    grid-row: 2;
    /* margin: 100px 0px 100px 0px; */
}

.five{
    grid-column: 2;
    grid-row: 2;
    /* margin: 100px 0px 100px 0px; */
}

.six{
    grid-column: 3;
    grid-row: 2;
}