body{
    /* background-color: black; */
    color: white;
    /* background-image: url('/background_image.jpg'); */
    background-size: cover; /*Cover the entire page*/
    background-repeat: no-repeat;/*  Prevents the image from repeating */
    background-attachment: fixed;/*  Keeps the image fixed during scroll */
    background-position: center; /* Centers the image */
    background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );
    font-family: 'poppins';
    height: 100vh; 
}

.heading{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    text-align: center;
}

.designation,
.name{
    color: white;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 90px; */
    /* height: 100vh; */
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.designation{
    margin: 30px 0px 0px 0px;
}

.text {
    display: none;
    margin: 5px 0;
    font-size: 14px;
}

         
.button-19 {
  background-image: linear-gradient(to right, #1F1C2C 0%, #020202  51%, #1F1C2C  100%);
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(255, 255, 255);            
  box-shadow: 0 0 20px #4b1515;
  border-radius: 50px;
  display: block;
}

.button-19:hover {
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

/* .content{
    height: 100vh;
} */

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
}

h1.reveal{
    text-align: center;
}